<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off"
      internalLogFile="internal-nlog.txt">

  <targets>
    <target name="AppLogError"
            type="File"
            layout="${longdate}|${logger:uppercase=true}|${level:uppercase=true}|${callsite}|${message}|${onexception:inner=EXCEPTION OCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
            fileName="${basedir}/logs/errors-${shortdate}.log"
            />
    <target name="AppLogAll"
            type="File"
            layout="${longdate}|${logger:uppercase=true}|${level:uppercase=true}|${callsite}|${message}|${exception:format=ToString}"
            fileName="${basedir}/logs/app-all-${shortdate}.log"
            />
    <target name="AppXmlLogError"
            type="File"
            layout="${longdate}|${logger:uppercase=true}|${level:uppercase=true}|${callsite}|${message}|${exception:format=ToString}"
            fileName="${basedir}/logs/errors-xml-${shortdate}.log"
            />
            
    <target name="SecuritySessionLog"
            type="File"
            layout="${longdate}|${logger:uppercase=true}|${level:uppercase=true}|${callsite}|${message}|${exception:format=ToString}"
            fileName="${basedir}/logs/SecuritySessionLog.log"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="20971520"
            maxArchiveFiles="10"
            keepFileOpen="true"
            encoding="utf-8"/>
    <target name="SecurityAuthorizationLog"
            type="File"
            layout="${longdate}|${logger:uppercase=true}|${level:uppercase=true}|${callsite}|${message}|${exception:format=ToString}"
            fileName="${basedir}/logs/SecurityAuthorizationLog.log"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="20971520"
            maxArchiveFiles="10"
            keepFileOpen="true"
            encoding="utf-8"/>
    <target name="SecurityAuthenticationLog"
            type="File"
            layout="${longdate}|${logger:uppercase=true}|${level:uppercase=true}|${callsite}|${message}|${exception:format=ToString}"
            fileName="${basedir}/logs/SecurityAuthenticationLog.log"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="20971520"
            maxArchiveFiles="10"
            keepFileOpen="true"
            encoding="utf-8"/>
    <target name="BaseCoreTrackLogger"
            type="File"
            layout="${longdate}|${logger:uppercase=true}|${level:uppercase=true}|${callsite}|${message}|${exception:format=ToString}"
            fileName="${basedir}/logs/TrackLogger.log"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="20971520"
            maxArchiveFiles="10"
            keepFileOpen="true"
            encoding="utf-8"/>
    <target name="BaseCoreDiagnosticsLogger"
            type="File"
            layout="${longdate}|${logger:uppercase=true}|${level:uppercase=true}|${callsite}|${message}|${exception:format=ToString}"
            fileName="${basedir}/logs/BaseCoreDiagnosticsLogger.log"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="20971520"
            maxArchiveFiles="10"
            keepFileOpen="true"
            encoding="utf-8"/>
  </targets>
  <rules>
    <logger name="SESSION_MANAGEMENT" minlevel="Debug" writeTo="SecuritySessionLog" />
    <logger name="USER_AUTHORIZATION" minlevel="Debug" writeTo="SecurityAuthorizationLog" />
    <logger name="HOLDER_AUTHORIZATION" minlevel="Debug" writeTo="SecurityAuthorizationLog" />
    <logger name="RESOURCE_AUTHORIZATION" minlevel="Debug" writeTo="SecurityAuthorizationLog" />
    <logger name="BASECORE_TRACKER_LOGGER" minlevel="Trace" writeTo="BaseCoreTrackLogger" />
    <logger name="BASECORE_DIAGNOSTICS_LOGGER" minlevel="Trace" writeTo="BaseCoreDiagnosticsLogger" />
    <logger name="AUTHENTICATION_DONE" minlevel="Debug" writeTo="SecurityAuthenticationLog" />
    <logger name="CHANGE_CREDENTIALS_DONE" minlevel="Trace" writeTo="SecurityAuthenticationLog" />
    <logger name="*" minlevel="Trace" writeTo="AppLogAll" />
    <logger name="*" minlevel="ERROR" writeTo="AppLogError" final="false" />
    <logger name="*" minlevel="ERROR" writeTo="AppXmlLogError" final="false" />
  </rules>
</nlog>
