@page "/"

<PageTitle>Dashboard</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Dashboard</MudText>

<MudGrid>
    <MudItem xs="12" sm="6" md="4">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <div>
                <MudText Typo="Typo.h4">3,450</MudText>
                <MudText Typo="Typo.subtitle1">Members Online</MudText>
            </div>
             <MudIcon Icon="@Icons.Material.Filled.People" Size="Size.Large" Color="Color.Primary" Class="ml-4" />
        </MudPaper>
    </MudItem>
     <MudItem xs="12" sm="6" md="4">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <div>
                <MudText Typo="Typo.h4">49.4%</MudText>
                <MudText Typo="Typo.subtitle1">Server Load</MudText>
            </div>
             <MudIcon Icon="@Icons.Material.Filled.Speed" Size="Size.Large" Color="Color.Secondary" Class="ml-4" />
        </MudPaper>
    </MudItem>
     <MudItem xs="12" sm="6" md="4">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <div>
                <MudText Typo="Typo.h4">$18,390</MudText>
                <MudText Typo="Typo.subtitle1">Today's Revenue</MudText>
            </div>
             <MudIcon Icon="@Icons.Material.Filled.AttachMoney" Size="Size.Large" Color="Color.Success" Class="ml-4" />
        </MudPaper>
    </MudItem>
</MudGrid>
